.channel {
  display: flex;
  flex-direction: row;
  background-color: var(--grey-color);
  border-radius: 8px;
  height: 162px;
  font-family: var(--font-family-Rubik);
  max-width: 1200px;


  &__name {
    font-weight: var(--font-bold);
    font-size: var(--font-size-20);
  }

  &__wrapper-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
  }

  &__list {
    padding: 0;
  }
  &__item {
    list-style-type: none;
    font-size: var(--font-size-16);
    margin-bottom: 10px;
    &--active {
      color: var(--red-light-color);
    }
  }
}

.active {
  margin-bottom: 0;
}
