.comment {
  background-color: var(--grey-color);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  position: relative;

  &__user {
    color: var(--black-color);
    font-weight: bold;
  }
  &__text {
    color: var(--black-color);
  }

  &__del {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 10px;
    width: 10px;
    background-color: var(--red-light-color);
  }
}
